/*Navigation Bar*/
#navbar {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #fc6c05;
    width: 1350px;
    margin-left:auto;
    margin-right:auto;
}

/*Navigation Bar Words/Links*/
#navbarlist {
    float: right;
}
#navbarlist a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}
#navbarlist a:hover {
    background-color: #fc9b55;
    color: black;    
}
a {
	font-size: 20px;
}

#special {
	font-family: Brushstroke, fantasy;
	font-size: 30px;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

#nomatch {
    font-size: 50px;

}

.grid-container {
    display: grid;
    grid-template-columns: 382px 382px 382px;
    padding-top: 50px;
    padding-right: 133px;
    padding-left: 133px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}
