/*Navigation Bar*/
#navbar {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #fc6c05;
    width: 1300px;
    margin-left:auto;
    margin-right:auto;
}

/*Navigation Bar Words/Links*/
#navbarlist {
    float: right;
}
#navbarlist a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}
#navbarlist a:hover {
    background-color: #fc9b55;
    color: black;    
}
a {
	font-size: 20px;
}

/*General table*/
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

tbody {
    font-size: 18px;
}

/*Quotation on homepage*/
#special {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 40px;
    padding-top: 460px;
}

/*About page*/
#about {
    border-bottom-color: #042963;
    border-bottom-width: 5px;
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;
}
/*My Profile page table*/
#profileTable th {
	color: white;
	border-color: #ff492d;
	border-width: 4px;
	background-color: #ff8775;
}

#profileTable td {
	border-color: #ff492d;
	border-width: 4px;
	color: #ff573d;
}
/*Explore page tables*/
#period {
    color: #042963;
}

#periodbg {
    background-color: #c4dbff;
    border-color: #042963;
    border-width: 5px;
}

#courseCodeTable {
    border-width: 5px;
    border-color: #042963;
}

#courseCode {
    color: white;
}

#courseCodebg {
    background-color: #042963;
    border-color: #042963;
    border-width: 5px;
}

#courses {
    border: none;

    font-weight: bold;
}

/*Offerings layout on matches page*/
.grid-container {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: space-evenly;
}

.grid-item {
    background-color: #81d1ce;
    color: white;
    border: 3px solid;
    border-color: #81d1ce;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}

/*Description for no match*/
#nomatch {
    font-size: 50px;
}

/*Table on matches page*/
#matchesTable td {
    border-width: 3px;
    border-color: #01a8a2;
}

#matchesHeading {
    color: white;
}

#matchesBg {
    border-width: 3px;
    border-color: #01a8a2;
    background-color: #6bd6d2;
}

#cool {
    color: #fc6c05;
    font-family: "Palatino Linotype";
    font-size: 50px;
}

#cool2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

#cool3 {
    color: #042963;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

